*input.txt
*test*.txt
testdata*
*log*

a.out*
*.o
bin/
obj/
build/

.idea

.DS_Store

.config/
.vscode/
.ionide/
.fake

# Clojure
.clj-kondo/
.lsp/

# OCaml
_build/

# Haskell
*.hi

# Crystal
*.dwarf

# Rust
target/

# Java
*.class
META-INF/

# Scala 3
*.tasty
.bsp
.metals
